section.main.css-uf99v8.ea3mdgi5{
    background-color: white;

}
div.css-1v0mbdj.e115fcil1{
    margin-left: 12%;
    margin-top: 10%;
}
div.css-1r6slb0.e1f1d6gn1 p{
    font-size: 30px;
}

div.css-1v0mbdj.e115fcil1 img{
    margin: -90px;
}
div.css-1kyxreq.e115fcil2{
   
}